.pagination {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 100px;
}

.pagination button {
    width: 80px;
    background-color: #3874ff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.pagination p {
    border: 1px solid #3874ff;
    width: 25px;
    text-align: center;
    border-radius: 5px;
}

.disable {
    opacity: 0.3;
}

.selected {
    background-color: #3874ff;
}