.container {
    display: flex;
    justify-content: center;
    margin: 50px 0 100px;
    min-height: 1000px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
}

.table th {
    font-size: 1.2rem;
    text-align: left;
    padding: 10px 0;
}

.table tbody tr {
    height: 80px;
    border-bottom: 1px solid #22262e;
    font-weight: 600;
    font-size: 1.1rem;
}

.symbol {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.symbol img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.symbol span {
    font-weight: 600;
    font-size: 1.2rem;
    color: #9da6b7;
}

.success {
    color: #57bc7c;
}

.error {
    color: #d33636;
}

@media (max-width : 600px) {
    .table {
        display: block;
        overflow-x: scroll;
    }

    .table td,
    .table th {
        padding: 0 10px;
    }
}